.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color: rgb(122, 76, 7);
  text-align: center;
}
 link{
   text-decoration: none;
 }

 .barNavigation{
  margin-bottom:9rem;
  text-decoration: none;
  padding: 5px;
  border: 1px solid;
  text-align: center;  
}

.titulo{
  text-align: center;
  margin-left: 2px;
  text-align: center;
  font-size: 6rem;
	display: table;
	vertical-align: middle;
  width: 80%;
  height: 10%;
  margin-left: 9%;
  font-family: Brush Script MT, Brush Script Std, cursive;

}

h1{
  text-align: center;
}

.navTransparenc{
 
    padding: 15px 1px;
    background: rgba(255, 140, 0, 0.6);
    border:none;  
  }

  
.texto-capa{
	text-align: center;
	display: table;
	vertical-align: middle;
	text-shadow: 33px 33px 33px black, 0 0 5px black, 0 0 2px black;
	color: #ffff;
}

.capa{
  background-image: url('./imagens/fundo.jpeg');
  background-repeat: no-repeat;
	background-position: center;
	background-size: 1600px;
	position: relative;

  
}

li{
  text-decoration: none;
  list-style: none;
  margin: 2%;
}

.itemBarra a:link{
  font-size: 2vh;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px #fffb00, 0 0 5px;
}
.itemBarra a:hover{
  color: #ffffff;
  font-size: 2.2vh;
}
input{
  border: solid #f1b861 ;
  border-radius: 5px;
  height: 3vh;
  
}
.planFundo{
  background-color: #282c34;
}

/* area menu */

.menu{
  display: flex;
  flex-flow: row wrap;
  position:fixed;
  background-color: rgb(250, 229, 0, 0.3) ;
  justify-content: center;
  border: 1px solid #FFF;
  width: 100%;
  height: 4rem;
  margin-top: -0.2em;
  color:#000000;
}

.menu li{
  position: relative;
  float: left;
/* border-right: 1px solid #ffffff;*/
  list-style: none;
  color: rgb(0, 0, 0);
  
}
.links{
  color: #000000;
  text-decoration: none;
}
.links a:active{
  color: #fb079c;
  text-decoration: underline;
}
.links a:hover{
  color: #fb079c;
}
/*.links a:visited{
  color: #fb079c;
}
*/
.menu li a{color:rgb(0, 0, 0);
   text-decoration:none;
   padding:1px 8px; 
   display:block;
  

  }
  a{
    text-decoration: none;
  }
  link{
    text-decoration: none;
  }
.menu li a:hover{
background: rgba(0, 0, 0, 0.8);
color: #ffffff;
border-radius: 10px;
-moz-box-shadow:0 3px 10px 0 #3816fd;
-webkit-box-shadow:0 3px 10px 0 #0fffff;
text-shadow:0px 0px 5px #fff;
}
.menu li:hover ul, .menu li.over ul{display:block;
background-color: rgb(250, 229, 0, 0.7);
border-radius: 15px;
};

a:link{
  color: #000000;
  text-decoration-color: #FFF;
 /* text-shadow: 1px 1px 0.1px rgb(255, 255, 255), 0 0 15px #ffffff, 0 0 10px; */
}
.menu li ul li{
 /* border:1px solid #c0c0c0; */
  display:block;
  width:8rem;
  color:#FFF;
 /* margin-right: 1%; */
  }

.menu li  ul{
  position:absolute;
  top:1rem;
  margin-top: 1px;
  left:0;
  background-color:#fff;
  display:none;
  border: 1px solid #000000;
  }

  .submenu li ul{
    margin: 2px
  }
  @media(max-width: 500px){
    .areaDrop{
      background: rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
    }
    .areaDropSub{
      background: rgba(255, 255, 255, 0.3);
     border: none;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
    







 